@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,300;9..144,400;9..144,500;9..144,700&family=Montserrat:ital,wght@0,300;0,400;0,500;0,700;1,200;1,400&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    width: 100%;
    background-color: teal;
}

.greatercontainer{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
}

.container{
    background-color: beige;
   padding:10px 40px 20px 40px;
   border-radius: 7px;
   box-shadow: 7px 5px 5px black;
}

img{
    height: 400px;
    width: 600px;
    border-radius: 6px;
}

.nav{
    display: flex;
    list-style-type: none;
    justify-content: center;
    gap: 20px;
    background-color: black;
}

.nav a{
    color: #fff;
    text-decoration: none;
}

.nav a:hover{
    color: teal;
}

.name,
.role,
.dob,
.info{
    font-family: 'Fraunces', sans-serif;
    text-align: center;
}

.facts{
    display: flex;
    list-style-type: none;
    flex-direction: column;
    align-items: center;
}

.more{
    text-align: center;
}